body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #928b8b;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgb(54, 57, 148);
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #e6ed2d;
  font-size: 0.95rem;
}

header {
  background-color: #2c3e50;
  color: rgb(150, 255, 22);
  padding: 10px;
  text-align: center;
}

.education-container {
  padding: 30px;
  display: grid;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.education-item {
  background-color: rgb(54, 7, 95);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.education-item:hover {
  transform: translateY(-5px);
}

.education-item h2 {
  margin: 0 0 10px;
  color: #127be4;
}

.education-item h3 {
  margin: 0 0 10px;
  color: #e9dcdc;
}

.education-item p {
  color: #000000;
  margin: 0;
}

@media (max-width: 600px) {
  .education-container {
    padding: 15px;
  }
}

h1{
    margin-top: 0px;
}
