.front{
    background-color: rgb(42, 39, 35);
    /* display: flex;
    justify-content: center;
    justify-items: center; */

    .hd1{
        text-align: center;
        font:bolder;
        font-family : fantasy;
        text-transform: uppercase;
        box-sizing: border-box;
        color: rgb(130, 236, 25);
    }
    .img{
       
        border-radius: 60%;
        left: 50%;
    }
}