* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #515155;
  color: #c4e713;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgb(54, 57, 148);
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

/* .circle {
  background: #a855f7;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
} */

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #e6ed2d;
  font-size: 0.95rem;
}

.nav-links .btn {
  background: #a855f7;
  color: rgb(247, 111, 111);
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.hero {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.hero-text {
  text-align: justify;
  max-width: 50%;
}

.hero-text h1 {
  font-size: 2.8rem;
  color: #e1d4d1;
}

.hero-text h1 span {
  font-weight: bold;
}

.hero-text p {
  text-align: justify;
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.6;
  color: rgb(255, 255, 255);
}

.highlight {
  color: #b7ff6f;
  font-weight: bold;
}

.hero-img img {
  margin-right: 70px;
  border-radius: 50%;
  width: 250px;
  height: 350px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
