* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #85996d;
  color: #c4e713;
  background-image: url("bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgb(91, 95, 190);
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

/* .circle {
  background: #a855f7;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
} */

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #e6ed2d;
  font-size: 0.95rem;
  font-weight: bolder;
}

.nav-links .btn {
  background: #a855f7;
  color: rgb(247, 111, 111);
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.hero {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}
.hero-text {
  text-align: justify;
  max-width: 50%;

  .first{
    display: flex;
  img{
    height: 250px;
    width: 280px;
    border-radius: 50%;
  }
  .name{
    font-size: 40px;
    font-weight: bolder;
  }
}
}

.hero-text h1 {
  font-size: 2.8rem;
  color: #e1d4d1;
}

.hero-text h1 span {
  font-weight: bold;
}

.hero-text p {
  text-align: justify;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 1.6;
  color: rgb(0, 0, 0);
}

.highlight {
  color: #62b013;
  font-weight: bold;
}

.hero-img img {
  margin-right: 70px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.skills {
  /* margin-left: 20%; */
  padding: 40px 20px;
  border-radius: 10%;
  height: 400px;
  width: 300px;
  background-color: rgba(30, 20, 20, 0.5);
  /* margin: auto; */
}

.skills h4 {
  font-size: 28px;
  margin-bottom: 20px;
  padding-left: 15%;
  color: #5cc61f;
}

.skill-tags {
  border-radius: 50%;
  height: 100px;
  padding-left: 20%;
  /* background-color: #a8ab9d; */
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skill-tag {
  
  background-color: #d7d1d1;
  padding: 20px 20px;
  /* padding-left: 20%; */
  border-radius: 26px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  transition: background-color 0.3s;
}

.skill-tag:hover {
  background-color: #d4d4d4;
  cursor: default;
}
